apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: wspdevops
  labels:
    commit: ${WERCKER_GIT_COMMIT}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: wspdevops
  template:
    metadata:
      labels:
        app: wspdevops
        commit: ${WERCKER_GIT_COMMIT}
    spec:
      containers:
      - name: wspdevops
        image: ${DOCKER_REGISTRY}/${DOCKERHUB_REPOSITORY}:${WERCKER_GIT_BRANCH}-${WERCKER_GIT_COMMIT}
        imagePullPolicy: Always
        ports:
        - name: wspdevops
          containerPort: 8080
          protocol: TCP
      imagePullSecrets:
        - name: wercker
---
apiVersion: v1
kind: Service
metadata:
  name: wspdevops
  labels:
    app: wspdevops
    commit: ${WERCKER_GIT_COMMIT}
spec:
  ports:
  - port: 30000
    targetPort: 8080
  selector:
    app: wspdevops
  type: ClusterIP
---